body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Admin Index - styles for Question and Answers list */
.admin-questions-header {
    display: flex;
    border-bottom: 2px solid #949494;
}

.admin-question {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.admin-question-active {
    display: flex;
    font-weight: bold;
    border-top: 1px solid #fff;
    background-color: #ddd;
}

.admin-question:hover {
    background-color: lemonchiffon;
}

.admin-question-active:hover {
    background-color: #ddd;
}

.admin-details {
    display: flex;
    padding: 0 10px 5px 10px;
    border-bottom: 1px solid #ddd;
    background-color: #ddd;
}

.admin-questions-header > .col-details, .admin-question > .col-details {
    margin: 0;
    padding: 5px;
    flex-basis: 10%;
}

.admin-questions-header > .col-question, .admin-question > .col-question {
    margin: 0;
    padding: 5px;
    flex-basis: 70%;
}

.admin-questions-header > .col-category, .admin-question > .col-category {
    margin: 0;
    padding: 5px;
    flex-basis: 10%;
}

.admin-questions-header > .col-actions, .admin-question > .col-actions {
    margin: 0;
    padding: 5px;
    flex-basis: 10%;
}

.admin-details > .details-other {
    flex-basis: 35%;
}

.admin-details > .details-other > p {
    margin: 10px 0;
    padding: 5px;
    background-color: #eee;
}

.admin-details > .details-answers {
    flex-basis: 65%;
}

.admin-details ol, .admin-details ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}

.admin-details ol li, .admin-details ul li {
    margin: 10px 0;
    padding: 5px;
    background-color: #eee;
}

.admin-details ol li i {
    display: inline-block;
    padding: 5px;
}

.fa-check-circle {color: green;}
.fa-circle {color: #ddd;}

.admin-details-display {
    display: none;
}
