@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Luckiest+Guy|Patua+One|Shrikhand');

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Admin Index - styles for Question and Answers list */
.admin-questions-header {
    display: flex;
    border-bottom: 2px solid #949494;
}

.admin-question {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.admin-question-active {
    display: flex;
    font-weight: bold;
    border-top: 1px solid #fff;
    background-color: #ddd;
}

.admin-question:hover {
    background-color: lemonchiffon;
}

.admin-question-active:hover {
    background-color: #ddd;
}

.admin-details {
    display: flex;
    padding: 0 10px 5px 10px;
    border-bottom: 1px solid #ddd;
    background-color: #ddd;
}

.admin-questions-header > .col-details, .admin-question > .col-details {
    margin: 0;
    padding: 5px;
    flex-basis: 10%;
}

.admin-questions-header > .col-question, .admin-question > .col-question {
    margin: 0;
    padding: 5px;
    flex-basis: 68%;
}

.admin-questions-header > .col-category, .admin-question > .col-category {
    margin: 0;
    padding: 5px;
    flex-basis: 12%;
}

.admin-questions-header > .col-category {
    padding: 5px 5px 5px 0;
}

.admin-questions-header > .col-actions, .admin-question > .col-actions {
    margin: 0;
    padding: 5px;
    flex-basis: 10%;
}

.admin-details > .details-other {
    flex-basis: 35%;
}

.admin-details > .details-other > p {
    margin: 10px 0;
    padding: 5px;
    background-color: #eee;
}

.admin-details > .details-answers {
    flex-basis: 65%;
}

.admin-details ol, .admin-details ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}

.admin-details ol li, .admin-details ul li {
    margin: 10px 0;
    padding: 5px;
    background-color: #eee;
}

.admin-details ol li i {
    display: inline-block;
    padding: 5px;
}

.fa-check-circle {color: green;}
.fa-circle {color: #ddd;}

.admin-details-display {
    display: none;
}

/* game interface */
.game-ui {
    margin: 20px;
    position: relative;
    background: white url(../images/grass-landscape-3.png) no-repeat;
    background-size: cover;
    border-radius: 30px;
    min-height: 80vh;
    display: flex;
    justify-content: flex-start;
}

.spinner {
    flex-basis: 480px;
}

.question-area {
    display: block;
    padding: 20px 40px;
    flex: 1 0 0;
}

h2.category-header {
    font-family: 'Luckiest Guy';
    text-align: center;
    font-size: 4rem;
}

h3.question {
    font-family: 'Bubblegum Sans';
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
}

.question-area .answers {
    margin: 30px 0;
}

.question-area .answer-option {
    background-color: lightskyblue;
    border: 1px solid blue;
    padding: 5px 20px;
    font-family: 'Patua One';
    font-size: 2rem;
    border-radius: 8px;
}

.question-area .answer-option:hover {
    background-color: mediumblue;
    border: 1px solid blue;
    color: #fff;
}

.spin-icon {
    width: 102px;
    height: 120px;
    background: transparent url(../images/spin.png) no-repeat;
    background-size: cover;
    border: none;
    position: absolute;
    left: 189px;
    top: 173px;
    font-family: 'Luckiest Guy';
    text-align: center;
    font-size: 3rem;
    padding-top: 17px;
}

.spin-icon:hover {
    color: green;
}

#canvas {
    margin: 20px;
    width: 440px;
    height: 440px;
    border-radius: 220px;
    box-shadow: -10px 10px 30px 0px rgba(0,0,0,0.3);
}